@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
html,body {
height: 100%;
margin: 0;
}
body{
     overflow: hidden;
     font-family: 'Rubik', sans-serif;
}
.container{
   
    z-index: -1;
    position: relative;
    right: 100px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    height: 85%;
    width:450px;
    background: rgb(136,56,255);
    background: linear-gradient(38deg, rgba(136,56,255,1) 44%, rgba(233,66,255,1) 88%);
}
.container::before{
    content: '';
    position: absolute;
    top: 35%;
    left:82vw;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    height: 100%;
    width:100%;
    background: #f8f8f8;
}
@media (max-width: 769px ){
    .container{
    height: 60%;
    width:350px;
    right: 35%;
}
.container::before{
    top: 80%;
    left:95vw;
    height: 100vh;
    width:100%;
}
.phone{
    z-index: 1;
    position: absolute;
    left:270px;
    top:150px;
    background: #f3f0f0;
    width: 280px;
    height: 500px;
    right: -160px;
    border: 15px white solid;
    box-sizing: border-box;
    box-shadow: 10px 10px 30px #b4b3b3;
    border-radius: 30px;
}
}

main{
    height: 100vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phone{
    z-index: 1;
    position: absolute;
    bottom: 20px;
    background: #f3f0f0;
    width: 280px;
    height: 500px;
    right: -160px;
    border: 15px white solid;
    box-sizing: border-box;
    box-shadow: 10px 10px 30px #b4b3b3;
    border-radius: 30px;
}
/*notch*/
.phone::before {
    content: '';
    position: absolute;
    background: white;
    width:  140px ;
    height: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
    left: 55px;
}
.header {
    font-size: 16px;
    color: white;
    position: relative;
    z-index: -2;
    width: 100%;
    height: 80px;
     background: rgb(136,56,255);
    background: linear-gradient(38deg, rgba(136,56,255,1) 44%, rgba(233,66,255,1) 88%);
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 5px 4px #b4b3b3;
    display: flex;
    align-items: center;
    line-height: 2%;
}
#arrow {
    position: relative;
    top: 3.8rem;
    left: 1rem;
    width: 7px;
    height: 7px;
    border-right: 2px solid white ;
    border-bottom: 2px solid white ;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    transform: rotate(135deg);
}
.person-img {
    position: relative;
    top:2.4rem;
    left: 2rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px white solid;
}
.person-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.person-id{
    position: relative;
    bottom: .2rem;
    left: 4.5rem;
}
.person-id h4 {
    font-size: 80%;
}
.person-id p {
    font-size: 60%;

}
#setting-icon {
    position: relative;
    bottom: 2rem;
   left: 215px;
}
#setting-icon div {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  margin: 4px 0;

}
